@model DealForumLibrary.Models.AdminAreaModels.AddEditRoleDetail
@{
    string ButtonName = "Save";
    if (Model.Id != null && Model.Id > 0)
    {
        ButtonName = "Update";
    }
}

@using (Html.BeginForm("AddUpdateRole", "Role", FormMethod.Post, new { @id = "frmAddUpdateRole", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="row gutter-20">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="">Role Name<span class="required">*</span></label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Name, "", new { @style = "color:red" })
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="">Description</label>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Description, "", new { @style = "color:red" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnSave" class="btn btn-primary btn-sm mtp5" onclick="SaveRole();" title="@ButtonName">@ButtonName</button>
        <button type="button" class="btn btn-secondary btn-sm mtp5" data-dismiss="modal" title="Cancel">Cancel</button>
    </div>
}
